body {
    background-color: #05c4a4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1 {
    color: white;
    margin-top: 30px;
    font-size: 35px;
    
}

form {
    background-color: white;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 0;
}
.formFocus:focus{
    border: 3px solid #abc61297;
    outline: none;
}

.form-control {
    text-align: left;
    margin-bottom: 25px;
}

.form-control label {
    display: block;
    margin-bottom: 10px;
}

.form-control input,
.form-control select,
.form-control textarea {
            border: 2px solid;
            border-radius: 3px;
            font-family: inherit;
            padding: 10px;
            display: block;
            width: 95%;

}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
            display: inline-block;
            width: auto;
}

button {
    background-color: #05c4a4;
    border: 2px solid #777;
    border-radius: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 15px;
    display: block;
    width: 150px;
    height: 40px;
    margin: 0px auto
    
}